[submodule "aes-primitives"]
	path = aes-primitives
	url = https://github.com/elalfer/rust-crypto-pimitives.git
	branch = master
[submodule "aes-benchmarks"]
	path = aes-benchmarks
	url = https://github.com/subspace/aes-benchmarks.git
	branch = master
[submodule "block-ciphers"]
	path = block-ciphers
	url = https://github.com/RustCrypto/block-ciphers.git
	branch = master
[submodule "AEADs"]
	path = AEADs
	url = https://github.com/RustCrypto/AEADs.git
	branch = master
[submodule "stream-ciphers"]
	path = stream-ciphers
	url = https://github.com/RustCrypto/stream-ciphers.git
	branch = master
[submodule "RSA"]
	path = RSA
	url = https://github.com/RustCrypto/RSA.git
	branch = master
[submodule "elliptic-curves"]
	path = elliptic-curves
	url = https://github.com/RustCrypto/elliptic-curves.git
	branch = master
